.user-list-container {
  width: 100%;

  .search-field {
    width: 100%;
    margin-bottom: 16px;
  }

  .table-container {
    overflow-x: auto;
    margin-bottom: 16px;

    table {
      width: 100%;

      th {
        font-weight: 600;
        background-color: #fafafa;
      }

      td, th {
        padding: 12px 16px;
      }

      .mat-mdc-row:hover {
        background-color: #f5f5f5;
      }
    }

    .mat-row.mat-no-data-row {
      height: 80px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      font-style: italic;
    }
  }
}
